* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 9px;
    padding: 0px;
    background: transparent;
    margin-right: 5px;
    margin-left: 5px;
}

window#waybar {
    border-radius: 14px;
    padding: 0px;
    border-style: none;
}

#battery,
#network,
#clock,
#power-profiles-daemon,
#custom-power,
#workspaces,
#tray,
#pulseaudio{
    background: rgba(46, 67, 48, 0.8);
    opacity: 0.8;
    border-radius: 8px;
    padding: 4px 8px;
    
}

#custom-power {
    font-weight: bold;
    font-size: 25px;
}

#workspaces button {
    padding: 0.5px;
}

#workspaces button.active {
    background: #93a68a;
    color: #000;
    font-weight: bold; 
    transition: background 0.18s, color 0.18s;
}
