* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 9px;
    padding: 0px;
    background: transparent;
}

window#waybar {
    border-radius: 14px;
    padding: 0px;
    border-style: none;
}

#battery,
#network,
#clock,
#power-profiles-daemon,
#custom-power,
#workspaces,
#pulseaudio{
    background: #2e4330;
    border-radius: 8px;
    padding: 4px 8px;
    
}

#custom-power {
    font-weight: bold;
    font-size: 25px;
}

#workspaces button {
    padding: 0 5px;
}
